<%- include('partials/header') -%>
<title>Transfer Successful</title>
<link rel="stylesheet" href="css/navfoot.css">
<link rel="stylesheet" href="css/message.css">
<%- include('partials/nav'); -%>

<div class="container">
    <h1><%= Message %></h1>
    <a href="/customers" class="button" >View All customers</a>
</div>

<%- include('partials/footer'); -%>
<%- include('partials/end'); -%> 