<%- include('partials/header'); -%> 
<title><%=Services %></title>
    <link rel="stylesheet" href="css/navfoot.css">
    <link rel="stylesheet" href="css/services.css">
    <%- include('partials/nav'); -%>
    <div class="final-wrap">
        <h1 class="heading">Services</h1>
       <div class="container">
        
        <div class="box">

            <div class="image">
            <img src="images/atm.jpg" alt="">
        </div>
            <h3 class="box-heading">ATM</h3>
            <p class="box-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nulla beatae quo ab illum quia repellendus. Nemo enim culpa tempore?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, odit.</p>
        </div>
    
        <div class="box">
            <div class="image">
            <img src="images/cards.jpg" alt="">
        </div>
            <h3 class="box-heading">Cards</h3>
            <p class="box-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nulla beatae quo ab illum quia repellendus. Nemo enim culpa tempore?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, odit.</p>
        </div>

        <div class="box">
            <div class="image">
            <img src="images/internet.jpg" alt="">
        </div>
            <h3 class="box-heading">Mobile Banking</h3>
            <p class="box-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nulla beatae quo ab illum quia repellendus. Nemo enim culpa tempore?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, odit.</p>
        </div>
    
        <div class="box">
            <div class="image">
            <img src="images/debit2.jpg" alt="">
        </div>
            <h3 class="box-heading">Debit Cards</h3>
            <p class="box-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nulla beatae quo ab illum quia repellendus. Nemo enim culpa tempore?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, odit.</p>
        </div>
    
        <div class="box">
            <div class="image">
            <img src="images/500rs.jpg" alt="">
        </div>
            <h3 class="box-heading">Loan</h3>
            <p class="box-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nulla beatae quo ab illum quia repellendus. Nemo enim culpa tempore?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, odit.</p>
        </div>
        <div class="box">
            <div class="image">
            <img src="images/savings3.jpg" alt="">
        </div>
            <h3 class="box-heading">Savings</h3>
            <p class="box-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nulla beatae quo ab illum quia repellendus. Nemo enim culpa tempore?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, odit.</p>
        </div>
        <div class="box">
            <div class="image">
            <img src="images/dollar.jpg" alt="">
        </div>
            <h3 class="box-heading">Currency Exchange</h3>
            <p class="box-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nulla beatae quo ab illum quia repellendus. Nemo enim culpa tempore?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, odit.</p>
        </div>
    
        <div class="box">
            <div class="image">
            <img src="images/credit.jpg" alt="">
        </div>
            <h3 class="box-heading">Credit Cards</h3>
            <p class="box-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nulla beatae quo ab illum quia repellendus. Nemo enim culpa tempore?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, odit.</p>
        </div>
    
        <div class="box">
            <div class="image">
            <img src="images/reader.jpg" alt="">
        </div>
            <h3 class="box-heading">Payment Terminal</h3>
            <p class="box-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nulla beatae quo ab illum quia repellendus. Nemo enim culpa tempore?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, odit.</p>
        </div>
    
        
    
     
       </div>
    </div>
   
    <%- include('partials/footer'); -%> 
    <%- include('partials/end'); -%> 